<ion-view view-title="Sobre a Ana">
  <ion-content class="padding">
    <h2>Seja Bem Vindo ao Aplicativo de Teste da Izie</h2>
    <p>Eu, </p>
    <h3>Ana Flávia Carvalho</h3>
    <p>
    Estou muito feliz em participar do processo seletivo para ingressar nesta empresa.
    </p>
    <p>
      Espero ser admitida e também superar as espectativas.
    </p>
    <p>
    Obrigada pela oportunidade!!!
    </p>
    <p>
      Qualquer dúvida, entre em contato: 61 - 99618-0178 ou cokitabr@gmail.com
    </p>
  </ion-content>
</ion-view>
