<div class="jumbotron">
	<h1>Sobre a Ana Flávia</h1>
	<p>Eu tenho 31 anos e desses, mais de 12 anos me dediquei a área de desenvolvimento de software. Já programei em muitas linguagens, mas meu foco sempre foi o PHP e seus frameworks, como Zend, Symfony, Laravel, etc. </p>

	<p>Banco de dados, já usei quase todos, SQL Server, Mysql, Postgree e Oracle.

		Como nunca gostei dessa divisão entre programador front end e programador backend eu procuro estudar sempre os dois lados, hoje tenho bons conhecimentos em AngularJS e estou estudando Angular 2 e por sua vez, o TypeScript. Confesso  que estou adorando, o javascript está se mostrando uma linguagem muito poderosa. Já fiz alguns scripts em NodeJs também.

		Sou certificada pela Scrum Alliance como Scrum Master e já atuei e implementei a metodologia em empresas anteriores.
	</p>
	<p>
	<button class="btn btn-lg btn-primary pull-right" ng-click="download()" role="button">Ver currículo »</button>
	</p>
	<div class="clearfix"></div>
</div>