<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" style="left: 66px; right: 66px;">Novo Endereço</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
    </ion-header-bar>
    <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list">
            <label class="item item-input">
                <span class="input-label" aria-label="Nome">Nome</span>
                <input ng-model="endereco.Nome" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label" aria-label="Logradouro">Logradouro</span>
                <input ng-model="endereco.Logradouro" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label" aria-label="Complemento">Complemento</span>
                <input ng-model="endereco.Complemento" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label" aria-label="Bairro">Bairro</span>
                <input ng-model="endereco.Bairro" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label" aria-label="Cidade">Cidade</span>
                <input ng-model="endereco.Cidade" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label" aria-label="Cep">CEP</span>
                <input ng-model="endereco.CEP" type="text" mask="99999-999">
            </label>
            <label class="item item-input item-select">
                <span class="input-label" aria-label="UF">UF</span>
                <select ng-model="endereco.IdUf"
                        ng-options="uf.Id as uf.Sigla for uf in ufs">
                    <option value=""></option>
                </select>
            </label>

            <button type="button" class="button button-full button-positive" ng-click="addEndereco()">Adicionar</button>
        </div>
    </div>
        <div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div>
    </ion-content>
</ion-modal-view>