<ion-view view-title="Cadastro de Clientes">
	<ion-content class="padding">
		
		<form name="formCadastroCliente" ng-submit="salvar(formCadastroCliente)" novalidate>
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Nome</span>
					<input type="text" ng-model="cliente.Nome" name="nome" placeholder="Nome Completo" required>
				</label>
				<label class="item item-input">
					<span class="input-label">Data de nascimento</span>
					<input type="date" ng-model="cliente.DataNascimento" name="dataNascimento" required>
				</label>
			</div>
			<label class="item item-input">Sexo</label>
			<ion-radio ng-model="cliente.Sexo" value="F" required>Feminino</ion-radio>
			<ion-radio ng-model="cliente.Sexo" value="M" required>Masculino</ion-radio>

			<button type="button" ng-click="getPhoto()" class="button button-block button-primary">Escolher/Tirar Foto</button>
			<ion-item>
				<img ng-if="lastPhoto" ng-src="{{lastPhoto}}" style="max-width: 100%">

				<p ng-if="!lastPhoto">
					Escolha uma foto para vincular ao seu perfil.
				</p>
			</ion-item>
			<!--<ion-item>
				<div>
					<img ng-src="{{thumb}}" width="200">
				</div>
				<button ng-click="makeThumbNail()" class="button button-primary">Make Thumbnail</button>
			</ion-item>-->
			<button type="submit" class="button button-block button-positive">Salvar</button>

		</form>
	</ion-content>
</ion-view>