<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Sobre" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/sobre">
    <ion-nav-view name="tab-sobre"></ion-nav-view>
  </ion-tab>

	<ion-tab title="Lista de Clientes" icon-off="ion-ios-person-outline" icon-on="ion-person" href="#/tab/lista">
    <ion-nav-view name="tab-lista"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Cadastro" icon-off="ion-ios-personadd-outline" icon-on="ion-person-add" href="#/tab/cadastro">
    <ion-nav-view name="tab-cadastro"></ion-nav-view>
  </ion-tab>




</ion-tabs>
