<ion-view view-title="{{cliente.Nome}}">
    <ion-content class="padding" scroll="true">

        <div class="card text-center">
            <img class="full-image" ng-if="cliente.imagem" ng-src="{{cliente.imagem.Base64}}"
                 style="width: 200px; height: 200px">
            <i ng-if="!cliente.imagem" class="icon ion-android-person sem-imagem"></i>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-90">
                        <p>{{cliente.Nome}}</p>
                        <p>Data de Nascimento: {{cliente.DataNascimento | dateInFormat : 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="col col-10 text-right">
                        <i ng-if="cliente.Sexo == 'F'" class="icon ion-female icon-gender-list"></i>
                        <i ng-if="cliente.Sexo == 'M'" class="icon ion-male icon-gender-list"></i>
                    </div>

                </div>
            </div>
        </div>

        <ion-list ng-if="cliente.enderecos && cliente.enderecos.length > 0">
            <ion-item class="item-divider">
                Endereços
            </ion-item>
            <ion-item class="item-remove-animate item-text-wrap" ng-repeat="endereco in cliente.enderecos">
                <p>Nome: {{endereco.Nome}}</p>
                <p>
                    Logradouro: {{endereco.Logradouro}}
                    <span ng-if="endereco.Complemento">- {{endereco.Complemento}}</span>
                </p>
                <p>{{endereco.Bairro}} - {{endereco.Cidade}}</p>
                <p>{{endereco.uf.Sigla}} - {{endereco.CEP}}</p>

                <ion-option-button class="button-assertive" ng-click="remover(endereco.Id)">
                    Remover
                </ion-option-button>
            </ion-item>
        </ion-list>

        <cadastrar-endereco></cadastrar-endereco>
    </ion-content>
</ion-view>
