<ion-view view-title="Lista de Clientes">
  <ion-content class="padding">
    <ion-refresher pulling-text="Deslize para atualizar" on-refresh="atualizar()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="cliente in clientes" type="item-text-wrap" href="#/tab/lista/{{cliente.Id}}">
        <i ng-if="cliente.Sexo == 'F'" class="icon ion-female"></i>
        <i ng-if="cliente.Sexo == 'M'" class="icon ion-male"></i>
        <h2>{{cliente.Nome}}</h2>
        <p>{{cliente.DataNascimento | dateInFormat : 'dd/MM/yyyy'}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remover(cliente.Id)">
          Remover
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
