/* Empty. Add your own CSS if you like */

.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.sem-imagem{
    font-size: 150px;
}

.icon-gender-list{
    font-size: 30px;
}